.commentSection{
  
    margin-top: 40px;
}

  
  .commentSection {
  
   
  }
  
  input[type="text"] {
   
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    background-color: #3636ee;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    flex-shrink: 0;
  }

  .textarea {
    height: 100px; 
    width: 100%;/* Adjust the height as needed */
    resize: vertical; /* Allows vertical resizing */
}
  
.comment{
  display:flex;
  justify-content: space-around;
}