*{
    margin:0px;
    padding:0px;
}

.head{
    background-color: rgb(255, 255, 255);
   color:aliceblue;
    display:flex;
    justify-content:space-between ;
    align-items: center;
    padding-left: 20px;
    
  
 
}
.head .heading{
    border: 0.2px solid gold;
    border-radius: 20px;

}
.head .heading {
    font-size: 2vw;
    color:rgb(5, 146, 99);
    font-family:fantasy;
    text-decoration:underline;
    text-decoration-color: red;
    padding-left:10px;
 
  
}

.head .heading #tagline{
   font-size:20px;
   text-align: center;
   color:azure;
   font-family: 'Times New Roman', Times, serif;
   text-decoration:none;
   text-decoration-color: black;
}



.links{
    display: flex;
    justify-content: space-between;
    border: 3px rgb(158, 138, 138);
    background-color: rgb(240 240 240);
    align-items: center;
    font-style: bold;
}

.links .simplelink{
    margin:5px;
    
}

.links  a{
    margin:25px;
    font-size: 20px;
    
}
.links img{
    width:80px;
    height: 80px;
    border-radius: 50%;

}
.advancelink{
    
}