*{
    margin:0px;
    padding:0px;
}

.head{
    background-color: rgb(255, 255, 255);
   color:rgb(5, 135, 249);
    display:flex;
    justify-content:space-between ;
    align-items: center;
    box-shadow:5px 3px 18px 0px #000000;
   
   
  
 
}
.head .heading{
    border: 0.2px solid gold;
    border-radius: 20px;
   
    

}
.dateTime{ margin:20px ;color:rgb(43, 24, 24);font-weight: 200;font-family:fantasy;}


.head .heading #tagline{
   font-size:20px;
   text-align: center;
   color:azure;
   font-family: 'Times New Roman', Times, serif;
   text-decoration:none;
   text-decoration-color: black;
}



.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:40px;

    border-top:1px solid rgb(226, 224, 224);
    border-bottom:1px solid rgb(226, 224, 224);
  
    
}
.links a{color:purple;text-decoration: underline;}


.links  a{
    margin:25px;
    font-size: 20px;
    
}
