.container ::-webkit-scrollbar {
  width: 70px;
}
/*Body below heading*/
.container{
    width:100%;
    display:flex;height:100vh;
    overflow: hidden;
   

}


a{
  text-decoration: none;
  color:black;
  
 }




/*left of page*/
.left{
    width:20%;
    background-color: rgb(236, 232, 232);
    margin:10px;
    border-radius: 10px;
    height:100vh;
    position:sticky;
    top:0;

}

.container .left input[type=text] {
    width: 75%;
    padding: 8px 15px;
    margin: 8px 0;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #searchCatagory{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}


  .container .left button {
    
    padding: 8px 5px;
    margin: 8px 0;
    
    color: #faf8f8;
    border-radius: 4px;
    background-color: rgb(3, 44, 52);
   
  }


  .container .left .left_container .tranding-list{
    margin-top: 50px;
    
  }

  .container .left ul li h1{
    margin-bottom: 10px;
  }


  .container .left ul li {
    padding-top:20px;
  }

  .left_container{
    
    display: block;
    
    margin-left: 5px;
  }

  /* container ko mid ko*/

  .mid{
    background-color: rgb(237, 232, 232);
    
    width:70vw;
    border-radius: 10px;
   
    left: 21%;
    height:100vh;
    ;
    overflow-x: hidden;
    
  }
  
  .mid .heading{
    display: flex;
    width:100%;
    align-items: baseline;
    text-align: center;
    margin-right:20px;
    border-bottom:2px solid #ecebeb;
 
    
  }

  .mid .newscontent{
    width:100%;
    display:block;
    margin-left: auto;;
    margin-right: auto;
    margin-top:20px;
  }
  .mid .heading h1{
   
    text-align: center;
    font-size: 90px;
    margin:20px;
    
  }


 
  .mid .heading a{
   
   text-decoration: none;
    
  }


  .mid  .headimg{
   
    height:70vh;
    overflow:hidden;
   
  }


  .mid .heading p{
    text-align:right;
    margin:10px;
    margin-bottom: 10px;
   
  }

 
  .mid  .headimg img{
    width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

  }



  /*top news vanney div*/
  .topnews{
    display:flex;
   margin:10px;
    margin-top:50px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    width:100%;
   
}
.topnews:hover{
  background-color: rgb(255, 255, 255);
}


.topnews .topnewsimg{
  padding:10px;
  width:25%;
  overflow: hidden;
 
}

.topnews .topnews_news {
  width:75%;
  height:30vh;
  overflow:hidden;
  margin:10px;
}
.topnews .topnews_news h5{
 font-size: 2vw;
 margin-bottom: 20px;
}


.topnews .topnews_news p{
  margin-top:20px;
 }


.topnews .topnewsimg img {
  width:100%;
  border-radius: 8px;
}



/*content_highlight*/
