.container ::-webkit-scrollbar {
  width: 70px;
}


/*Body below heading*/
.container{

    width:100%;
    display:flex;height:auto;
   
    align-items: center;
    jutify-content: center;
   

}


a{
  text-decoration: none;
  color:black;
  
 }


.container{background-color: rgb(249, 249, 250);}

/*left of page*/
.left{
    width:300px;
  
    margin:10px;
    border-radius: 10px;
    height:100vh;
    position:sticky;
    top:0;
    box-shadow:5px 3px 18px 0px #000000;

}

.container .left input[type=text] {
    width: 75%;
    padding: 8px 15px;
    margin: 8px 0;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #searchCatagory{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}


  .container .left button {
    
    padding: 8px 5px;
    margin: 8px 0;
    
    color: #faf8f8;
    border-radius: 4px;
    background-color: rgb(3, 44, 52);
   
  }


  .container .left .left_container .tranding-list{
    margin-top: 50px;
    
  }

  .container .left ul li h1{
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(167, 167, 167);
  }


  .container .left ul li {
    padding-top:20px;
    border-bottom: 1px solid rgb(167, 167, 167);
  }

  .left_container{
    
    display: block;
  }
  .left .tnews{,nmargin-left:10px;}

  /* container ko mid ko*/

  .mid{
    display: flex;
    padding:20px;
    padding-left:50px;
    padding-right: auto;
    
    width:70%;
    
   
    left: 21%;
    height:100vh;
  
    overflow-x: hidden;
    
  }
  
  .mid .headimg{
    
    width:100%;
    align-items:center;
    text-align: center;
    margin-right:20px;
    border-bottom:3px solid #cdc3c3;
 
    
  }

   
  .mid  .headimg img{
    width:80vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

  }

  .mid .newscontent{
    width:100%;
    display:block;
    margin-left: auto;;
    margin-right: auto;
    margin-top:20px;
   
   
  }
  .mid .heading h1{
   
    text-align: center;
    font-size: 4vw;
    margin:20px;
    
  }


 
  .mid .heading a{
   
   text-decoration: none;
   
    
  }





  .mid .heading p{
    text-align:right;
    margin:10px;
    margin-bottom: 10px;
   
  }

  .mathiko{padding:20px; box-shadow:5px 8px 8px 0px #000000;}

  



  /*top news vanney div*/
  .topnews{
    display:flex;
 
    margin-top:50px;
    align-items: center;
   
    border-radius: 8px;
    width:100%;
    box-shadow:5px 3px 18px 0px #000000;
   
}
.topnews:hover{
  background-color: rgb(244, 242, 242);
}


.topnews .topnewsimg{
  padding:10px;
  width:25%;
 
 
}

.topnews .topnews_news {
  width:75%;
  height:30vh;
  overflow:hidden;
  margin:10px;
  text-overflow: ellipsis;
}
.topnews .topnews_news h5{
 font-size: 2vw;
 margin-bottom: 20px;
}


.topnews .topnews_news p{
  margin-top:20px;
 }


.topnews .topnewsimg img {
  width:100%;
  border-radius: 8px;
}



/*content_highlight*/
